body{
    text-align: center;
}
h1{
    color: red;
}
article{
    font-size: larger;
    
}

.h-color{
    color:rgb(6, 96, 27);
}
.list-position{
    list-style-position: inside;

}
