.bg-yellow{
    background-color: #ffc017;
}
.border-bottom-dark{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}
body{
    font-family: 'PT Serif', serif;
}
.img-circle-size{
    width: 300px;
    height: 300px;
}
.img-small-size{
    width: 25px;
    height: 25px;
}
.aside-buttons >li{
    margin-bottom: 10px;
}